@import './../prefix';

.#{$prefix}-nav-link {
  color: inherit !important;
}

.#{$prefix}-nav-link-group-header {
  background-color: $primary-color;
  .#{$prefix}-nav-sub-link-item {
    background-color: inherit !important;
    .#{$prefix}-nav-sub-link {

    }

    .#{$prefix}-nav-sub-link-header {
      color: black;
      text-decoration: none;
    }
  }
}
